<ion-view view-title="">
<ion-nav-title>
        <img class="titlogo" src='img/logo.png' />
        
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a nav-clear menu-close class="button button-icon button-clear ion-ios-eye" ng-href="#/main/list"> </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a nav-clear menu-close class="button button-icon button-clear ion-ios-color-wand" ng-href="#/main/list"> </a>
    </ion-nav-buttons>
    <ion-header-bar class="paiy bar bar-subheader">
        
    </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">今日品牌团</div>
      <div class="item item-body">
        <div>
          全场四折起 <b>任性购</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">明日团购预告</div>
      <div class="item item-body">
        <div>
          秋游自拍哪能丑！
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">今日团购单品</div>
      <div class="item item-body">
        <div>
          雅诗兰黛小棕瓶奢华 <b>2</b>件套，保护未来肌肤美态 。
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
